.guess-zone {
  text-align: center;
  margin-top: 20px;

  .color-display {
    width: 90vw;
    height: 120px;
    border-radius: 12px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white; // Default to white before guessing
    transition: background-color 0.3s ease;
    margin-top: 1rem;   
  }  
}
